{{page-title "Ember Aria | CrowdStrike"}}

<LinkTo @route="docs">Home</LinkTo><br>
<nav>
  <code>aria-grid</code> »
    <LinkTo @route="examples.aria-grid.index">Big Grid</LinkTo>
    | <LinkTo @route="examples.aria-grid.big-grid-async">Async Big Grid</LinkTo>
    | <LinkTo @route="examples.aria-grid.nested">Nested Grids</LinkTo>
    | <LinkTo @route="examples.aria-grid.nested-async">Async Nested Grids</LinkTo>
    | <LinkTo @route="examples.aria-grid.table">Table</LinkTo>
    | <LinkTo @route="examples.aria-grid.table-async">Async Table</LinkTo>
</nav>
<hr>

{{outlet}}
