{{page-title "Ember Aria | CrowdStrike"}}

<LinkTo @route="docs">Home</LinkTo><br>
<nav>
  <code>aria-grid</code> »
    <LinkTo @route="examples.aria-grid.index">Big Grid</LinkTo>
    | <LinkTo @route="examples.aria-grid.nested">Nested Grids</LinkTo>
</nav>
<hr>

{{outlet}}